BOT_TOKEN=8964968342:AAEG2uhgKw_IDQ3oZySu0kjObg2U9OPA6WU
MONGO_URI=mongodb+srv://CineXClub:<db_mahesh534216>@cinexclub.yzstmcl.mongodb.net/?appName=CineXClub
PRIVATE_CHANNEL_ID=100442609645
PUBLIC_CHANNEL_ID=100396889787
ADMINS=5279776003
AUTO_DELETE_TIME=1800
