BOT_TOKEN=8355095390:AAGsa2LB6_HEGEOhwJPdobBJ7AJtniGQflE
MONGO_URI=mongodb+srv://CineXClub:<db_mahesh534216>@cinexclub.yzstmcl.mongodb.net/?appName=CineXClub
PRIVATE_CHANNEL_ID=100442609645
PUBLIC_CHANNEL_ID=100396889787
ADMINS=5279776003
AUTO_DELETE_TIME=1800
